/**
 * @license
 * MyFonts Webfont Build ID 3763051, 2019-05-22T05:28:32-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: IdealistaSemiBold by Suitcase Type Foundry
 * URL: https://www.myfonts.com/fonts/suitcase/idealista/semi-bold/
 * Copyright: Copyright (c) 2010 by Tomas Brousil. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3763051
 * 
 * © 2019 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/396b6b");

  
@font-face {font-family: 'IdealistaSemiBold';src: url('webfonts/396B6B_0_0.eot');src: url('webfonts/396B6B_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/396B6B_0_0.woff2') format('woff2'),url('webfonts/396B6B_0_0.woff') format('woff'),url('webfonts/396B6B_0_0.ttf') format('truetype');}
 