/* END OF FOLD END OF FOLD END OF FOLD END OF FOLD END OF FOLD END OF FOLD END OF FOLD */

.outlined-dark {
  background: transparent;
  border-width: 0;
  color: white;
  position: relative;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: bold;
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  outline: none;
  border: 1px solid var(--c-green);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  display: inline-block;
}
.outlined-dark:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  background: var(--c-light-green);
  border-color: var(--c-green);
  color: var(--c-dark-black);
}

.scrollWrapper {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.block-section {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  z-index: 0;
}

.wave-over-headline::before {
  content: ' ';
  position: absolute;
  width: 50px;
  height: 20px;
  top: -40px;
  left: 0;
  background: url(../images/green-wave-min.png) no-repeat center center;
  background-size: auto;
  background-size: 50px auto;
}

@media (orientation: portrait), (max-height: 600px) {
  .wave-over-headline::before {
    background: none;
  }
}

.cells {
  margin-top: 50px;
}
/* Media query for landscape mobile mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 640px) and (orientation: landscape) {
  .cells {
    margin-top: 10px;
  }

  .sound .cells > div,
  .ai .cells > div {
    width: 100%;
    display: block;
  }
}
.cells .icon {
  width: 40px;
  height: 40px;
  font-size: 34px;
  margin-right: 10px;
  display: block;
  float: left;
  padding: 5px;
}
.cells h5 {
  font-weight: 600;
  font-family: var(--f-family-tertiary);
  text-transform: uppercase;
  margin-bottom: -1px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  opacity: 0.6;
}
.cells p {
  white-space: nowrap;
}

.sound {
  background-repeat: no-repeat;
  background-color: #000;
  border: 20px solid #121110;
  background-position: left bottom;
  background-size: contain;
  padding: 50px;
}
@media (orientation: portrait), (max-height: 600px) {
  .sound {
    border: 15px solid #121110;
    padding: 25px;
    background-position: center bottom;
  }
}

.ai {
  background-repeat: no-repeat;
  background-color: #000;
  border: 20px solid #121110;
  background-position: right bottom;
  background-size: contain;
  padding: 50px;
}
@media (orientation: portrait), (max-height: 600px) {
  .ai {
    border: 15px solid #121110;
    padding: 25px;
    background-position: center bottom;
  }
}

.allday,
.specs,
.join {
  background-color: #000;
  border: 20px solid #121110;
  background-position: right bottom;
  background-size: contain;
}
.allday .content,
.specs .content,
.join .content {
  padding: 10% 50px 10% 50px;
}
@media (orientation: portrait), (max-height: 600px) {
  .allday .content,
  .specs .content,
  .join .content {
    padding: 25px;
  }
}

/* Media query for landscape mobile mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 640px) and (orientation: landscape) {
  .sound .text,
  .allday .text,
  .ai .text {
    display: none;
  }
}

.allday .container,
.specs .container,
.join .container,
.allday .container > .columns,
.specs .container > .columns .join .container > .columns {
  position: relative;
  height: 100%;
}

.allday .container > .columns > .column:first-child,
.specs .container > .columns > .column:first-child,
.join .container > .columns > .column:first-child {
  padding: 0;
  border-right: 20px solid var(--c-border);
}

.allday .image {
  height: 50%;
  width: 100%;
}

.allday .top-image {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* Safari 3.0 - Old Chrome - Old Android */
  -moz-background-size: cover; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: cover; /* Opera 9.5 */
  background-size: cover;
}

.allday .bottom-image {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* Safari 3.0 - Old Chrome - Old Android */
  -moz-background-size: cover; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: cover; /* Opera 9.5 */
  background-size: cover;
  border-top: 20px solid var(--c-border);
}

.allday h2 {
  margin-top: 10%;
}
/* Media query for landscape mobile mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 640px) and (orientation: landscape) {
  .allday h2 {
    margin-top: 20px;
  }
}

.sound .container,
.ai .container {
  position: relative;
  height: 100%;
  padding-top: 10%;
}
/* Media query for landscape mobile mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 640px) and (orientation: landscape) {
  .sound .container,
  .ai .container {
    position: relative;
    padding-top: 20px;
  }
}

.grid {
  padding: 0;
  background-color: black;
  border: 20px solid #121110;
  overflow: hidden;
}

.grid .container,
.grid .container > .columns {
  position: relative;
  height: 100%;
}
/* Media query for landscape mobile mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 640px) and (orientation: landscape) {
  .grid .container > .columns > .column {
    position: relative;
    height: 100%;
    width: 50%;
  }
}

.grid .over {
  background-color: black;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: contain; /* Safari 3.0 - Old Chrome - Old Android */
  -moz-background-size: contain; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: contain; /* Opera 9.5 */
  background-size: contain;
  border-right: 20px solid var(--c-border);
  opacity: 1;
}
@media only screen and (max-width: 840px) {
  .grid .over {
    border-right: 0;
    border-bottom: 20px solid var(--c-border);
  }
}
/* Media query for landscape mobile mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 640px) and (orientation: landscape) {
  .grid .over {
    border: none;
  }
}

.grid .top {
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain; /* Safari 3.0 - Old Chrome - Old Android */
  -moz-background-size: contain; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: contain; /* Opera 9.5 */
  background-size: contain;
  opacity: 1;
}
.app {
  background-color: #000;
  border: 20px solid #121110;
  overflow: hidden;
}
@media (orientation: portrait), (max-height: 600px) {
  .app {
    padding: 25px;
  }
}
.app .container {
  padding-top: 10%;
  position: relative;
  padding-bottom: 8%;
}

.app .sentien {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (orientation: portrait), (max-height: 600px) {
  .app .sentien {
    margin: 0px auto 50px auto;
  }
}

.app .os-logos img {
  width: 40px;
  margin-right: 10px;
  display: inline-block;
}
.app .preview {
  width: 90%;
  text-align: center;
  display: block;
  max-width: 58%;
  margin: -60px auto -220px auto;
  position: relative;
}
@media (orientation: portrait), (max-height: 600px) {
  .app .preview {
    margin: 20px auto -220px auto;
  }
}

.specs .detail {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* Safari 3.0 - Old Chrome - Old Android */
  -moz-background-size: cover; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: cover; /* Opera 9.5 */
  background-size: cover;
}

.faq {
  padding-top: 120px;
  padding-bottom: 100px;
}
@media (orientation: portrait), (max-height: 600px) {
  .faq {
    padding: 25px;
  }
}
.faq input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  margin-left: -20px;
  overflow: hidden;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  border: none;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  width: 100%;

  align-items: left;
  justify-content: left;
}
.tab-label:hover::before {
  color: var(--c-green);
  margin-right: 10px;
}
.tab-label::before {
  content: '\276F';
  width: 1em;
  height: 1em;
  margin-right: 5px;
  text-align: center;
  transition: all 0.25s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em 0 2.3em;
  color: white;
  background: transparent;
  transition: all 0.25s;
}

.faq input:checked + .tab-label {
  background: transparent;
}
.faq input:checked + .tab-label::before {
  margin-top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: var(--c-green);
}
.faq input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 0.2em 1em 1em 2.3em;
  opacity: 0.9;
}

.about {
  padding: 10% 0 10% 0;
  background-color: black;
  width: 100%;
  height: 100%;
}
@media (orientation: portrait), (max-height: 600px) {
  .about {
    padding: 25px;
    height: auto;
  }
}

.join .new-mind {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* Safari 3.0 - Old Chrome - Old Android */
  -moz-background-size: cover; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: cover; /* Opera 9.5 */
  background-size: cover;
}

@media only screen and (max-width: 840px) {
  .join .content {
    position: relative;
  }
  .join .content:before {
    content: ' ';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../images/join/newmember-min.jpg');
    background-position: center 58%;
    -webkit-background-size: cover; /* Safari 3.0 - Old Chrome - Old Android */
    -moz-background-size: cover; /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: cover; /* Opera 9.5 */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

a.arrow {
  color: white;
}
a.arrow:hover,
a.arrow:visited,
a.arrow:link,
a.arrow:active {
  text-decoration: none;
}
a.arrow:hover::before,
a.arrow:active::before {
  color: var(--c-green);
  margin-right: 13px;
}
a.arrow:before {
  content: '\276F';
  width: 1em;
  height: 1em;
  margin-right: 8px;
  text-align: center;
  transition: all 0.25s;
}

.newsletter {
  padding: 150px 0 150px 0;
}

footer {
  padding: 5% 50px 5% 50px;
  background-color: black;
}
@media only screen and (max-width: 840px) {
  footer {
    text-align: center;
  }
  footer .hero-sentien-logo {
    padding: 20px 0 20px 0;
  }
  footer .text-right {
    padding: 20px 0 20px 0;
    text-align: center;
  }
}

footer p {
  margin: 0;
  font-size: 0.6rem;
  color: var(--c-subscribe-bg);
}

footer .btn.btn-link,
.launcher-privacy .btn.btn-link {
  color: var(--c-green);
}
footer .btn.btn-link:hover,
.launcher-privacy .btn.btn-link:hover {
  color: var(--c-light-green);
}

footer .under {
  margin-top: 30px;
  border-top: 1px solid var(--c-border);
  padding-top: 30px;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?h44mij');
  src: url('fonts/icomoon.eot?h44mij#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h44mij') format('truetype'),
    url('fonts/icomoon.woff?h44mij') format('woff'),
    url('fonts/icomoon.svg?h44mij#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-customize:before {
  content: '\e900';
}
.icon-smart:before {
  content: '\e901';
}
.icon-fast:before {
  content: '\e902';
}
.icon-users:before {
  content: '\e903';
}
.icon-phone-in-out:before {
  content: '\e904';
}
.icon-battery-full:before {
  content: '\e905';
}
.icon-bench-press:before {
  content: '\e908';
}
.icon-hearing:before {
  content: '\e909';
}
.icon-mic:before {
  content: '\e90a';
}
.icon-shield-check:before {
  content: '\e90b';
}
.icon-wifi:before {
  content: '\e90d';
}
.icon-finger-tap:before {
  content: '\e90e';
}
.icon-calculator:before {
  content: '\e906';
}
.icon-magnifier:before {
  content: '\e907';
}

/* Extra Animations */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}
#sound-headline,
#sound-subline,
#sound-cells,
#ai-headline,
#ai-subline,
#ai-cells,
#allday-headline,
#allday-subline,
#allday-cells-1,
#allday-cells-2 {
  animation-iteration-count: 1;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}

#sound-headline.showtime,
#sound-subline.showtime,
#sound-cells.showtime,
#ai-headline.showtime,
#ai-subline.showtime,
#ai-cells.showtime,
#allday-headline.showtime,
#allday-subline.showtime,
#allday-cells-1.showtime,
#allday-cells-2.showtime {
  opacity: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#sound-headline.showtime,
#ai-headline.showtime,
#allday-headline.showtime {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#sound-subline.showtime,
#ai-subline.showtime,
#allday-subline.showtime {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#sound-cells.showtime,
#ai-cells.showtime,
#allday-cells-1.showtime {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#allday-cells-2.showtime {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.bar {
  background-color: #202020;
  text-align: left;
  height: auto;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  margin-top: 50px;
  margin-bottom: 80px;
  width: 98%;
}
@media only screen and (max-width: 840px) {
  .bar {
    width: 90%;
    margin: 0 auto;
  }
}
.zeno-circle {
  width: 80px;
  height: 80px;
  margin: 20px;
}
@media only screen and (max-width: 840px) {
  .zeno-circle {
    width: 40px;
    height: 40px;
    margin: 10px;
  }
}

.cursor {
  width: 8px;
  height: 80px;
  margin-top: 20px;
  background: white;
}
@media only screen and (max-width: 840px) {
  .cursor {
    width: 4px;
    height: 40px;
    margin-top: 10px;
  }
}

.launcher-wellbeing {
}

.launcher-show {
  background: rgb(28, 26, 31); /* 1C1A1F */
  background: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 1) 0%,
    rgba(28, 26, 31, 1) 1000px
  );
}

.launcher-show .phone {
  background-color: #636363;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  border: 2px solid #4f4f4f;
  margin-top: -40px;
}
.launcher-show h3 {
  padding-bottom: 20px;
  margin-top: 50px;
}
@media only screen and (max-width: 840px) {
  .launcher-show .vcenter {
    -webkit-transform: translate(0, 5%);
    -ms-transform: translate(0, 5%);
    transform: translate(0, 5%);
  }
  .launcher-show h3 {
    text-align: center;
    margin-top: 0px;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .launcher-show .phone {
    margin-top: 10px;
  }
}

.launcher-show .icon {
  font-size: 1.2rem;
  color: var(--c-green);
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.launcher-features {
  background: black;
  padding-top: 150px;
}
@media only screen and (max-width: 840px) {
  .launcher-features {
    padding-top: 20px;
  }
}
.launcher-features .column {
  padding: 50px;
}
@media only screen and (max-width: 840px) {
  .launcher-features .column {
    padding: 20px;
  }
}
.launcher-features h5 {
  border-top: 4px solid var(--c-dark-green);
  padding-top: 20px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 840px) {
  .launcher-features h5 {
    border-top: 0;
  }
}

.launcher-audio {
  background: black;
}

.launcher-audio .voice {
  font-size: 6rem;
  border: 5px solid var(--c-dark-green);
  padding: 50px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.launcher-audio .voice:after {
  content: 'experimental';
  text-transform: uppercase;
  top: 25px;
  right: -27px;
  position: absolute;
  font-weight: bold;
  color: black;
  padding: 3px 20px 3px 20px;
  font-size: 10px;
  background: var(--c-dark-green);
  font-family: var(--f-family-tertiary);
  -ms-transform: rotate(45deg); /* IE9 */
  -moz-transform: rotate(45deg); /* FF3.5/3.6 */
  -o-transform: rotate(45deg); /* Opera 10.5 */
  -webkit-transform: rotate(45deg); /* Saf3.1+ */
  transform: rotate(45deg); /* Newer browsers */
}
.launcher-audio ul {
  list-style: none;
  margin: 0;
  padding-top: 20px;
}
.launcher-audio ul li {
  font-style: italic;
  font-size: 1rem;
}
.launcher-audio ul li::before {
  content: '"';
}
.launcher-audio ul li::after {
  content: '"';
}

.launcher-audio .note {
  display: inline-block;
  padding: 5px 14px 5px 14px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 0.7rem;
  background: grey;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.launcher-privacy {
  margin-top: 100px;
  padding: 80px 0 10px 0;
  margin-bottom: 100px;
}
.launcher-privacy h3 {
  margin-bottom: 50px;
}
.launcher-privacy h6 {
  border-left: 4px solid var(--c-dark-green);
  padding-left: 20px;
  font-size: 1rem;
  margin-top: 60px;
}
.launcher-privacy ul {
  margin: -10px 0 0.8rem 0.8rem;
}

.launcher-privacy .lower {
  margin-top: 70px;
}

.launcher-banner {
  background: url('../../res/images/jumbo/jumbo-horiz-lg.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.launcher-banner .btn {
  background-color: var(--c-green);
  border-width: 0;
  color: black;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  padding-left: 23px;
  padding-right: 23px;
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  outline: none;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  display: inline-block;
}
.launcher-banner h3 {
  padding-top: 100px;
}
.launcher-banner .subline {
  font-size: 1.1rem;
  padding-bottom: 20px;
  position: relative;
  display: block;
}
@media (orientation: portrait) {
  .launcher-banner {
    background: url('../../res/images/jumbo/jumbo-vert.jpg') no-repeat 50% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
  }
}
